# Custom Chatbot Project

## Character Knowledge Base - Ask Questions / Recommendation System

TODO: In this cell, write an explanation of which dataset you have chosen and why it is appropriate for this task

I have chosen the character_descriptions.csv dataset. This dataset is a file that contains character descriptions from different genres such as theatre, tv, and film productions. There are four columns with 55 rows. The first column has 55 different unique names. The second is description, which is the text we will be using. The third is the medium, which is what the media is. There are 7 different mediums of entertainment, and lastly setting has 6 different settings.

I chose this dataset because it seems the applicable to my job since I am working with customer data and wanted to focus on building AI tools and chatbot to help customers. This is mostly pretaining to building out a knowledge management with a question and ansewring component. This datset features columns that are quite useful for future use cases such as name, descriptions, location, and classification tags.

In my custom scenario today I creating a RAG (Retrieval Augmented Generation) on the character description. I will offer my AI services to a possible company that maintains character databases to create entertainment such as Fox, Netflix, and other major companies that want to offer their knowledge management tool. Additionally, this can be used to build our their own Wiki sources, since it is becoming popular to ask questions on characters once you finish watching a movie or reading a book to get every detail on a character.

### Load Data

In [19]:
import pandas as pd

df = pd.read_csv("./data/character_descriptions.csv")

df.head()

    Name                                        Description Medium  Setting
0  Emily  A young woman in her early 20s, Emily is an as...   Play  England
1   Jack  A middle-aged man in his 40s, Jack is a succes...   Play  England
2  Alice  A woman in her late 30s, Alice is a warm and n...   Play  England
3    Tom  A man in his 50s, Tom is a retired soldier and...   Play  England
4  Sarah  A woman in her mid-20s, Sarah is a free-spirit...   Play  England

### Find the amount of Unique Names

In [20]:
unique_names = df['Name'].unique()
unique_names

array(['Emily', 'Jack', 'Alice', 'Tom', 'Sarah', 'George', 'Rachel',
       'John', 'Maria', 'Caleb', 'Tyler', 'Sonya', 'Manuel', 'Will',
       'Mia', 'Lucas', 'Tahlia', 'Max', 'Ava', 'Donna', 'Johnny', 'Sable',
       'Dolly', 'Vixen', 'Karma', 'Crystal', 'Olivia', 'Marcus', 'Maya',
       'James', 'Sophia', 'Noah', 'Chloe', 'Jake', 'Prince Lorenzo',
       'Signora Rosa', 'Baron Gustavo', 'Francesca', 'Don Carlo',
       'Duke Orsino', 'Lady Olivia', 'Sir Toby Belch', 'Malvolio',
       'Viola', 'Sir Andrew Aguecheek', 'Bianca', 'Sebastian', 'Feste',
       'Antonio', 'Abigail', 'Thomas', 'Reverend Brown', 'Captain James',
       'Mrs. Mercer', 'Mr. Mercer'], dtype=object)

In [21]:
nunique_names = df['Name'].nunique()
print(f"Number of Unique Names {nunique_names}")

Number of Unique Names 55

### Find the amount of Unique Mediums

In [22]:
uinque_medium = df["Medium"].unique()
uinque_medium

array(['Play', 'Movie', 'Limited Series', 'Musical', 'Reality Show',
       'Opera', 'Sitcom'], dtype=object)

In [23]:
nuinque_medium = df["Medium"].nunique()
nuinque_medium

7

### Find the amount of Unique Settings

In [24]:
unique_setting = df["Setting"].unique()
unique_setting

array(['England', 'Texas', 'Australia', 'USA', 'Italy', 'Ancient Greece'],
      dtype=object)

In [25]:
nunique_setting = df["Setting"].nunique()
nunique_setting

6

## Data Wrangling

TODO: In the cells below, load your chosen dataset into a `pandas` dataframe with a column named `"text"`. This column should contain all of your text data, separated into at least 20 rows.

In [26]:
import pandas as pd

df = pd.read_csv("./data/character_descriptions.csv")
df = df.rename(columns={"Description":"text"})
df.head(21)

,Name,text,Medium,Setting
0,Emily,"A young woman in her early 20s, Emily is an as...",Play,England
1,Jack,"A middle-aged man in his 40s, Jack is a succes...",Play,England
2,Alice,"A woman in her late 30s, Alice is a warm and n...",Play,England
3,Tom,"A man in his 50s, Tom is a retired soldier and...",Play,England
4,Sarah,"A woman in her mid-20s, Sarah is a free-spirit...",Play,England
5,George,"A man in his early 30s, George is a charming a...",Play,England
6,Rachel,"A woman in her late 20s, Rachel is a shy and i...",Play,England
7,John,"A man in his 60s, John is a retired professor ...",Play,England
8,Maria,"A middle-aged Latina woman in her 40s, Maria i...",Movie,Texas
9,Caleb,"A young African American man in his early 20s,...",Movie,Texas
10,Tyler,"A white man in his mid-30s, Tyler is a tough-a...",Movie,Texas
11,Sonya,"A white woman in her late 20s, Sonya is a free...",Movie,Texas
12,Manuel,"A middle-aged Hispanic man in his 50s, Manuel ...",Movie,Texas
13,Will,"A white man in his early 40s, Will is a succes...",Movie,Texas
14,Mia,"A young Australian woman in her mid-20s, Mia i...",Limited Series,Australia
15,Lucas,"A middle-aged Australian man in his 40s, Lucas...",Limited Series,Australia
16,Tahlia,A young Indigenous Australian woman in her ear...,Limited Series,Australia
17,Max,"A white Australian man in his late 20s, Max is...",Limited Series,Australia
18,Ava,"A middle-aged Australian woman in her 50s, Ava...",Limited Series,Australia
19,Donna,A seasoned performer with a larger-than-life p...,Musical,USA
20,Johnny,"A young up-and-coming performer, Johnny is ful...",Musical,USA

In [27]:
df.count()

Name       55
text       55
Medium     55
Setting    55
dtype: int64

### Creating a Full Description

I want to combine all the text data into a single frame for the model to understand better as oppose to reading it as a dataframe.

In [28]:
descriptions = []

In [29]:
for i, row in df.iterrows():
    name = row["Name"]

    text = row["text"]
    medium = row["Medium"]
    setting = row["Setting"]

    description = f"Name: {name}, Genre: {medium}, Setting: {setting}, Description: {text}" 

    print(description)

    descriptions.append(description)

Name: Emily, Genre: Play, Setting: England, Description: A young woman in her early 20s, Emily is an aspiring actress and Alice's daughter. She has a bubbly personality and a quick wit, but struggles with self-doubt and insecurity. She's also in a relationship with George.
Name: Jack, Genre: Play, Setting: England, Description: A middle-aged man in his 40s, Jack is a successful businessman and Sarah's boss. He has a no-nonsense attitude, but is fiercely loyal to his friends and family. He's married to Alice.
Name: Alice, Genre: Play, Setting: England, Description: A woman in her late 30s, Alice is a warm and nurturing mother of two, including Emily. She's kind-hearted and empathetic, but can be overly protective of her children and prone to worrying. She's married to Jack.
Name: Tom, Genre: Play, Setting: England, Description: A man in his 50s, Tom is a retired soldier and John's son. He has a no-nonsense approach to life, but is haunted by his experiences in combat and struggles with PTSD. He's also in a relationship with Rachel.
Name: Sarah, Genre: Play, Setting: England, Description: A woman in her mid-20s, Sarah is a free-spirited artist and Jack's employee. She's creative, unconventional, and passionate about her work. However, she can also be flighty and impulsive at times.
Name: George, Genre: Play, Setting: England, Description: A man in his early 30s, George is a charming and charismatic businessman who is in a relationship with Emily. He's ambitious, confident, and always looking for the next big opportunity. However, he's also prone to bending the rules to get what he wants.
Name: Rachel, Genre: Play, Setting: England, Description: A woman in her late 20s, Rachel is a shy and introverted librarian who is in a relationship with Tom. She's intelligent, thoughtful, and has a deep love of books. However, she struggles with social anxiety and often feels like an outsider.
Name: John, Genre: Play, Setting: England, Description: A man in his 60s, John is a retired professor and Tom's father. He has a dry wit and a love of intellectual debate, but can also be stubborn and set in his ways.
Name: Maria, Genre: Movie, Setting: Texas, Description: A middle-aged Latina woman in her 40s, Maria is a hard-working single mother who owns a small family-run diner in a small Texas town. She's fiercely protective of her teenage daughter, Sofia, and is always trying to balance work and family.
Name: Caleb, Genre: Movie, Setting: Texas, Description: A young African American man in his early 20s, Caleb is a talented musician who dreams of making it big in the music industry. He's charismatic, confident, and has a way with words. However, he's also struggling with addiction and is constantly at odds with his strict religious family.
Name: Tyler, Genre: Movie, Setting: Texas, Description: A white man in his mid-30s, Tyler is a tough-as-nails sheriff who takes his job very seriously. He's stoic, no-nonsense, and has a strong sense of justice. However, he's also struggling to come to terms with a recent tragedy in his personal life.
Name: Sonya, Genre: Movie, Setting: Texas, Description: A white woman in her late 20s, Sonya is a free-spirited journalist who's always on the hunt for the next big story. She's passionate, tenacious, and unafraid to speak her mind. However, she's also struggling to balance her career with her personal life, and has a tendency to push people away.
Name: Manuel, Genre: Movie, Setting: Texas, Description: A middle-aged Hispanic man in his 50s, Manuel is a proud and hard-working farmer who's struggling to keep his family's farm afloat. He's fiercely loyal to his family and his community, and will do whatever it takes to protect them.
Name: Will, Genre: Movie, Setting: Texas, Description: A white man in his early 40s, Will is a successful businessman who's come back to his hometown after many years away. He's confident, charming, and knows how to get what he wants. However, he's also hiding a dark secret from his past that threatens to destroy everything he's worked for.
Name: Mia, Genre: Limited Series, Setting: Australia, Description: A young Australian woman in her mid-20s, Mia is a driven and ambitious lawyer who's just landed her dream job at a top law firm in Sydney. She's the younger sister of Max, a former soldier who's struggling with PTSD, and is trying to help him navigate his challenges while also balancing her demanding career.
Name: Lucas, Genre: Limited Series, Setting: Australia, Description: A middle-aged Australian man in his 40s, Lucas is a successful businessman and the CEO of a major tech company. He's charming, charismatic, and has a way with people. He's been married to Ava, a successful fashion designer, for many years, but their marriage is on the rocks due to his infidelity.
Name: Tahlia, Genre: Limited Series, Setting: Australia, Description: A young Indigenous Australian woman in her early 20s, Tahlia is a talented artist who's just been accepted into a prestigious art school. She's the niece of Mia and Max, and they've been like siblings since they were young. She's struggling to find her place in the world as an Indigenous woman, but Mia and Max are always there to support her.
Name: Max, Genre: Limited Series, Setting: Australia, Description: A white Australian man in his late 20s, Max is a former soldier who's struggling to adjust to civilian life after serving in Afghanistan. He's tough, no-nonsense, and has a strong sense of duty. He's the older brother of Mia, and they've always been close. He's also Ava's godson, and she's always been like a second mother to him.
Name: Ava, Genre: Limited Series, Setting: Australia, Description: A middle-aged Australian woman in her 50s, Ava is a successful fashion designer who's built an empire on her impeccable taste and attention to detail. She's elegant, sophisticated, and always knows what's in style. She's married to Lucas, but their marriage is strained due to his infidelity. She's also been a mentor to Tahlia, and has helped her navigate the art world.
Name: Donna, Genre: Musical, Setting: USA, Description: A seasoned performer with a larger-than-life personality, Donna is confident and unapologetic on stage. She's known for her impeccable lip-sync skills and stunning costumes, but can sometimes come across as a diva behind the scenes. She's also a mentor to Johnny, helping her to hone her craft.
Name: Johnny, Genre: Musical, Setting: USA, Description: A young up-and-coming performer, Johnny is full of energy and enthusiasm. She's known for her edgy and unconventional looks, but can be a bit scatterbrained at times. She looks up to Donna as a mentor and hopes to follow in her footsteps.
Name: Sable, Genre: Musical, Setting: USA, Description: A sultry and dramatic performer, Sable exudes confidence on stage. She's known for her fierce lip-syncing abilities and dramatic performances, but can sometimes be a bit too self-absorbed. She's also a rival of Donna, and the two often compete for the spotlight.
Name: Dolly, Genre: Musical, Setting: USA, Description: A bubbly and vivacious performer, Dolly is a fan favorite for her infectious personality and comedic performances. She's known for her campy looks and over-the-top antics, but can struggle with self-doubt and insecurity off stage. She's also a good friend of Johnny, often offering her words of encouragement.
Name: Vixen, Genre: Musical, Setting: USA, Description: A fierce and competitive performer, Vixen is always out to win. She's known for her aggressive lip-syncing style and high-energy performances, but can be confrontational and difficult to work with. She's also a rival of Sable, and the two often clash both on and off stage.
Name: Karma, Genre: Musical, Setting: USA, Description: A chameleon-like performer, Karma is known for her ability to transform herself into any character. She's a master of illusion and is always pushing boundaries with her looks and performances, but can sometimes struggle with authenticity and staying true to herself. She's also a friend of Dolly, often offering her a listening ear when she needs it.
Name: Crystal, Genre: Musical, Setting: USA, Description: A quirky and imaginative performer, Crystal is always surprising audiences with her off-beat performances and unconventional looks. She's known for her unique creativity and imaginative approach, but can sometimes struggle with staying focused and on task. She's also a bit of a wildcard, and the other performers never know what to expect from her.
Name: Olivia, Genre: Reality Show, Setting: USA, Description: A confident and charismatic marketing executive with a heart of gold. Olivia is always the life of the party, and her infectious personality draws people to her. She's looking for someone who can keep up with her high energy and bring some stability to her life.
Name: Marcus, Genre: Reality Show, Setting: USA, Description: A charming and successful entrepreneur, Marcus is used to getting what he wants. He's a smooth talker with a magnetic personality, but can sometimes come across as a bit too self-centered. He's looking for someone who can challenge him and keep him on his toes.
Name: Maya, Genre: Reality Show, Setting: USA, Description: A kind and compassionate nurse with a heart of gold, Maya is always putting others before herself. She's looking for someone who shares her values and is committed to making the world a better place. She's not afraid to speak her mind and stand up for what she believes in.
Name: James, Genre: Reality Show, Setting: USA, Description: A handsome and athletic personal trainer, James is always up for a challenge. He's looking for someone who is as passionate about fitness as he is, and who can keep up with his intense workout regimen. He can sometimes come across as a bit too competitive, but his heart is always in the right place.
Name: Sophia, Genre: Reality Show, Setting: USA, Description: A fun-loving and adventurous travel blogger, Sophia is always looking for her next big adventure. She's looking for someone who can join her on her travels and share in her love of exploration. She's a free spirit who isn't afraid to take risks and try new things.
Name: Noah, Genre: Reality Show, Setting: USA, Description: A quirky and creative graphic designer, Noah is always pushing the boundaries with his art. He's looking for someone who can appreciate his unique perspective and isn't afraid to be a little unconventional. He's a bit of a romantic at heart, and loves nothing more than creating grand gestures of love for the people he cares about.
Name: Chloe, Genre: Reality Show, Setting: USA, Description: A driven and ambitious attorney, Chloe is always striving for success. She's looking for someone who can match her intellect and drive, and who is supportive of her career goals. She's a bit guarded when it comes to matters of the heart, but is ready to let her guard down for the right person.
Name: Jake, Genre: Reality Show, Setting: USA, Description: A laid-back and easygoing firefighter, Jake is the quintessential good guy. He's looking for someone who shares his values of honesty and integrity, and who is looking for a stable and committed relationship. He's a bit of a hopeless romantic, and is always looking for ways to sweep his partner off their feet.
Name: Prince Lorenzo, Genre: Opera, Setting: Italy, Description: A charming and handsome prince who has recently returned from a long journey abroad. Prince Lorenzo is well-traveled and cultured, and his voice is smooth and velvety. He is searching for true love and has his sights set on a particular young woman.
Name: Signora Rosa, Genre: Opera, Setting: Italy, Description: A mysterious and alluring woman who runs a local apothecary. Signora Rosa is known for her beauty and her magical remedies, which some believe have mystical powers. Her singing voice is hauntingly beautiful and her demeanor is both captivating and enigmatic.
Name: Baron Gustavo, Genre: Opera, Setting: Italy, Description: A wealthy and arrogant nobleman who loves to flaunt his wealth and status. Baron Gustavo is competitive and ruthless, and his singing voice is powerful and commanding. He is not above using his influence and resources to get what he wants, regardless of who he hurts in the process.
Name: Francesca, Genre: Opera, Setting: Italy, Description: A fiery and passionate young woman who works as a blacksmith. She is strong-willed and independent, and her singing voice is bold and powerful. Francesca has caught the eye of Prince Lorenzo, but she is hesitant to give her heart to a man who comes from such a different world.
Name: Don Carlo, Genre: Opera, Setting: Italy, Description: A charming and charismatic young man who is often the life of the party. Don Carlo is quick-witted and clever, and his singing voice is playful and light. He is friends with Baron Gustavo, but his loyalty is often called into question. He is not above causing mischief and stirring up trouble for his own amusement.
Name: Duke Orsino, Genre: Play, Setting: Ancient Greece, Description: A pompous and self-important nobleman who is hopelessly in love with Lady Olivia. Duke Orsino is arrogant and condescending to those around him, but is also a bit of a buffoon. He is related to Sir Toby Belch, who is his uncle.
Name: Lady Olivia, Genre: Play, Setting: Ancient Greece, Description: A wealthy and beautiful noblewoman who has recently become a widow. Lady Olivia is melancholy and withdrawn, and refuses to entertain any suitors. She is the object of Duke Orsino's affections, but is not interested in him. She is also the cousin of Sir Toby Belch and his niece.
Name: Sir Toby Belch, Genre: Play, Setting: Ancient Greece, Description: A drunken and lecherous knight who loves nothing more than drinking, carousing, and making mischief. Sir Toby Belch is related to Duke Orsino and Lady Olivia, and uses this connection to his advantage.
Name: Malvolio, Genre: Play, Setting: Ancient Greece, Description: A pompous and self-righteous steward in Lady Olivia's household. Malvolio is humorless and uptight, and is often the target of Sir Toby Belch's pranks. He is secretly in love with Lady Olivia and harbors dreams of marrying her.
Name: Viola, Genre: Play, Setting: Ancient Greece, Description: A plucky and resourceful young woman who is shipwrecked on the coast of Illyria. Viola disguises herself as a man, taking on the identity of Cesario, and becomes a servant in Duke Orsino's household. She develops feelings for the Duke, but is unable to reveal her true identity.
Name: Sir Andrew Aguecheek, Genre: Play, Setting: Ancient Greece, Description: A dim-witted and gullible nobleman who is brought to Illyria by Sir Toby Belch as a potential suitor for Lady Olivia. Sir Andrew Aguecheek is a perennial bachelor and is easily manipulated by those around him.
Name: Bianca, Genre: Play, Setting: Ancient Greece, Description: Lady Olivia's cunning and quick-witted maid. Bianca is a master of mischief and pranks, and often collaborates with Sir Toby Belch to torment Malvolio. She is also secretly in love with Sir Toby.
Name: Sebastian, Genre: Play, Setting: Ancient Greece, Description: Viola's twin brother, who is also shipwrecked on the coast of Illyria. Sebastian is rescued by Antonio and becomes embroiled in a series of misunderstandings and mistaken identities. He develops feelings for Lady Olivia, much to the chagrin of Duke Orsino.
Name: Feste, Genre: Play, Setting: Ancient Greece, Description: A jester and musician who works in Lady Olivia's household. Feste is the wisest character in the play, and uses his wit and intelligence to comment on the actions of the other characters. He is also a confidant to Viola, and helps her navigate her complicated situation.
Name: Antonio, Genre: Play, Setting: Ancient Greece, Description: A sea captain who rescues Sebastian from the shipwreck. Antonio becomes devoted to Sebastian and follows him to Illyria, despite the danger it poses to himself.
Name: Abigail, Genre: Sitcom, Setting: USA, Description: A plucky and resourceful young woman who works as a maid in one of the taverns in colonial Williamsburg. Abigail is hard-working and determined, and dreams of one day owning her own business. She has a friendly rivalry with her co-worker, Thomas.
Name: Thomas, Genre: Sitcom, Setting: USA, Description: A good-natured and affable young man who also works in the same tavern as Abigail. Thomas is the jester of the group and enjoys making jokes and lightening the mood. He often finds himself caught up in Abigail's schemes.
Name: Reverend Brown, Genre: Sitcom, Setting: USA, Description: The pious and stern minister of the local church. Reverend Brown takes his role very seriously and often clashes with the more irreverent characters in the town. He is also secretly in love with Abigail and tries to win her over with his piety.
Name: Captain James, Genre: Sitcom, Setting: USA, Description: The charismatic and dashing captain of the local militia. Captain James is a ladies' man and enjoys flirting with the women of the town. He has a friendly rivalry with Reverend Brown and often teases him about his piousness.
Name: Mrs. Mercer, Genre: Sitcom, Setting: USA, Description: The matriarch of the wealthiest family in Williamsburg. Mrs. Mercer is a bit of a snob and enjoys reminding everyone of her social standing. She often hires Abigail to work in her home and is very demanding.
Name: Mr. Mercer, Genre: Sitcom, Setting: USA, Description: The bumbling and absent-minded patriarch of the Mercer family. Mr. Mercer is often clueless about what is going on around him and relies on his wife to keep him in line. He has a secret love of practical jokes and often finds himself in trouble because of them.

In [30]:
df["description"] = descriptions
df.head()

,Name,text,Medium,Setting,description
0,Emily,"A young woman in her early 20s, Emily is an as...",Play,England,"Name: Emily, Genre: Play, Setting: England, De..."
1,Jack,"A middle-aged man in his 40s, Jack is a succes...",Play,England,"Name: Jack, Genre: Play, Setting: England, Des..."
2,Alice,"A woman in her late 30s, Alice is a warm and n...",Play,England,"Name: Alice, Genre: Play, Setting: England, De..."
3,Tom,"A man in his 50s, Tom is a retired soldier and...",Play,England,"Name: Tom, Genre: Play, Setting: England, Desc..."
4,Sarah,"A woman in her mid-20s, Sarah is a free-spirit...",Play,England,"Name: Sarah, Genre: Play, Setting: England, De..."

### Set up Embedding Models

Create embedding function

In [31]:
import openai
import os

openai.api_key = os.getenv("api_key")
openai.api_base = os.getenv("api_base")

In [32]:
import json
from openai import OpenAI


deployment_model = "gpt-3.5-turbo-instruct"
client = OpenAI()
response = client.embeddings.create(
    model = "text-embedding-ada-002",
    input = "Hello, world!",
)



response_json = response.model_dump_json(indent=2)

In [33]:
def create_embeddings(text):
    response = client.embeddings.create(
        model = "text-embedding-ada-002",
        input = text
    )
    response_dict = json.loads(response.model_dump_json())
    embedds = response_dict["data"][0]["embedding"]

    return embedds

In [34]:
from tqdm import tqdm
embeddings = []

for i, row in tqdm(df.iterrows(), total=df.shape[0]):
    text = row["description"]
    embeddings.append(create_embeddings(text))

df["embeddings"] = embeddings

100%|██████████| 55/55 [00:10<00:00,  5.45it/s]

In [35]:
df.head()

,Name,text,Medium,Setting,description,embeddings
0,Emily,"A young woman in her early 20s, Emily is an as...",Play,England,"Name: Emily, Genre: Play, Setting: England, De...","[-0.016550125554203987, -0.011766815558075905,..."
1,Jack,"A middle-aged man in his 40s, Jack is a succes...",Play,England,"Name: Jack, Genre: Play, Setting: England, Des...","[0.006691130809485912, -0.025658661499619484, ..."
2,Alice,"A woman in her late 30s, Alice is a warm and n...",Play,England,"Name: Alice, Genre: Play, Setting: England, De...","[0.004441577009856701, -0.009406846947968006, ..."
3,Tom,"A man in his 50s, Tom is a retired soldier and...",Play,England,"Name: Tom, Genre: Play, Setting: England, Desc...","[0.01923176273703575, -0.01625090464949608, -0..."
4,Sarah,"A woman in her mid-20s, Sarah is a free-spirit...",Play,England,"Name: Sarah, Genre: Play, Setting: England, De...","[-0.013280419632792473, -0.026573846116662025,..."

### Sort Values by Relevance

We will be using cosine similarity to create a similarity search of our embeddings to question

In [36]:
from scipy.spatial.distance import cosine
import numpy as np
embeddings_array = np.array(df["embeddings"].tolist())

def get_similar_rows(df, question):
    question_embedding = create_embeddings(question)

    df2 = df.copy()

    df2["distance"] = df2["embeddings"].apply(lambda x: cosine(x, question_embedding))
    
    df_sorted = df2.sort_values(by="distance", ascending=True, inplace=True)
    return df2

In [37]:
question = "What is the name of the character who is a wizard?"

most_similar = get_similar_rows(df, question)

most_similar.head(1)

,Name,text,Medium,Setting,description,embeddings,distance
7,John,"A man in his 60s, John is a retired professor ...",Play,England,"Name: John, Genre: Play, Setting: England, Des...","[0.020836587995290756, -0.014914746396243572, ...",0.22634

### Custom Prompt Design

In [41]:
import tiktoken

def create_prompt(question, df, max_token_count):
    tokenizer = tiktoken.get_encoding("cl100k_base")

    prompt_template = """
    You are a AI Assistant that answers questions from a character descriptions database, if you don't know the answer then say "Not Available"
    given the following character descriptions 
    {}:

    --- 
    Question: {}
    Answer
    """

    current_token_count = len(tokenizer.encode(prompt_template)) + len(tokenizer.encode(question))

    context = []

    for text in get_similar_rows(df, question)["description"]:
        
        text_token_count = len(tokenizer.encode(text))
        current_token_count += text_token_count
        
        if current_token_count < max_token_count:
            context.append(text)
        else:
            break
    
    return prompt_template.format("\n###\n".join(context), question)

In [45]:
print(create_prompt(question, df, 500))

    You are a AI Assistant that answers questions from a character descriptions database, if you don't know the answer then say "Not Available"
    given the following character descriptions
    Name: John, Genre: Play, Setting: England, Description: A man in his 60s, John is a retired professor and Tom's father. He has a dry wit and a love of intellectual debate, but can also be stubborn and set in his ways.
###
Name: Sir Andrew Aguecheek, Genre: Play, Setting: Ancient Greece, Description: A dim-witted and gullible nobleman who is brought to Illyria by Sir Toby Belch as a potential suitor for Lady Olivia. Sir Andrew Aguecheek is a perennial bachelor and is easily manipulated by those around him.
###
Name: George, Genre: Play, Setting: England, Description: A man in his early 30s, George is a charming and charismatic businessman who is in a relationship with Emily. He's ambitious, confident, and always looking for the next big opportunity. However, he's also prone to bending the rules to get what he wants.
###
Name: Sir Toby Belch, Genre: Play, Setting: Ancient Greece, Description: A drunken and lecherous knight who loves nothing more than drinking, carousing, and making mischief. Sir Toby Belch is related to Duke Orsino and Lady Olivia, and uses this connection to his advantage.
###
Name: Jack, Genre: Play, Setting: England, Description: A middle-aged man in his 40s, Jack is a successful businessman and Sarah's boss. He has a no-nonsense attitude, but is fiercely loyal to his friends and family. He's married to Alice.
###
Name: Thomas, Genre: Sitcom, Setting: USA, Description: A good-natured and affable young man who also works in the same tavern as Abigail. Thomas is the jester of the group and enjoys making jokes and lightening the mood. He often finds himself caught up in Abigail's schemes.:

    ---
    Question: What is the name of the character who is a wizard?
    Answer

## Custom Query Completion

TODO: In the cells below, compose a custom query using your chosen dataset and retrieve results from an OpenAI `Completion` model. You may copy and paste any useful code from the course materials.

In [101]:
import openai
import os

openai.api_key = os.getenv("api_key")
openai.api_base = os.getenv("api_base")

In [43]:

client = OpenAI()

In [44]:
def query_completion(question, df, max_token_count =1000):
    prompt=create_prompt(question,df,max_token_count)
    response= client.completions.create(
        model = "gpt-3.5-turbo-instruct",
        prompt = prompt,
        max_tokens = max_token_count
    )

    return response.choices[0].text

## Custom Performance Demonstration

TODO: In the cells below, demonstrate the performance of your custom query using at least 2 questions. For each question, show the answer from a basic `Completion` model query as well as the answer from your custom query.

### Question 1

In [46]:
question = "Who is the the successful business man in the movie?"

In [47]:
answer = query_completion(question,df,500)
print(answer)

: Will

### Question 2

In [48]:
question = "Give me a good character description of a character in a movie that falls in love with a successful business man?"

In [49]:
answer = query_completion(question,df,500)
print(answer)

 Not Available

### Conclusion

I am making a Retrieval Augmented Generation (RAG) that is doing the following:

1. User Query
- A user will ask question on the charater descriptions

2. Embed Qery
- The query is then embedded using a embedding models, where the knowledge base is already converted intoa  embedding using the same embedding model.

3. Retrieval Relevant Context
- By using cosine similarity, we are comparing our query embedding to the stored embedding of the knowledge base, and reeturnign the top k or the most relevant passages.

4. Prompt Construction for Generation
- I created a function does the above all in one go that takes in the user queswtions, embeds it, then calculate score to the stored embeddings.

5. Generate a response
- We used gpt-3.5 and reads the contexts (text) that is coming from the top k retrival, then it generates a final answer.

Main Ideas:

1) Calculate Embeddings and Similarity

2) Pick Top-K documents
- Pick most relevant chunks based on similarity scores

3) Build Prompt
- Inject the most relevant hcunks into user's question that I send to generative model

This back and fourth requires additional chat memory to hold conversation, but ideally you would create a UI around this.