# Custom Chatbot Project

TODO: In this cell, write an explanation of which dataset you have chosen and why it is appropriate for this task

I have chosen the character_descriptions.csv dataset. This dataset is a file that contains character descriptions form theatre, tv, and film productions. There are four columns with the first being Name I chose this dataset because it seems the applicable to my job since I am working with customer data and wanted to focus on building AI tools and chatbot to help customers. This datset features columns that are quite useful for future use cases such as name, descriptions, and classification tags.

In [9]:
import pandas as pd

df = pd.read_csv("./data/character_descriptions.csv")

df.head()

    Name                                        Description Medium  Setting
0  Emily  A young woman in her early 20s, Emily is an as...   Play  England
1   Jack  A middle-aged man in his 40s, Jack is a succes...   Play  England
2  Alice  A woman in her late 30s, Alice is a warm and n...   Play  England
3    Tom  A man in his 50s, Tom is a retired soldier and...   Play  England
4  Sarah  A woman in her mid-20s, Sarah is a free-spirit...   Play  England

## Data Wrangling

TODO: In the cells below, load your chosen dataset into a `pandas` dataframe with a column named `"text"`. This column should contain all of your text data, separated into at least 20 rows.

In [27]:
import pandas as pd

df = pd.read_csv("./data/character_descriptions.csv")
df = df.rename(columns={"Description":"text"})
df.head(21)

,Name,text,Medium,Setting
0,Emily,"A young woman in her early 20s, Emily is an as...",Play,England
1,Jack,"A middle-aged man in his 40s, Jack is a succes...",Play,England
2,Alice,"A woman in her late 30s, Alice is a warm and n...",Play,England
3,Tom,"A man in his 50s, Tom is a retired soldier and...",Play,England
4,Sarah,"A woman in her mid-20s, Sarah is a free-spirit...",Play,England
5,George,"A man in his early 30s, George is a charming a...",Play,England
6,Rachel,"A woman in her late 20s, Rachel is a shy and i...",Play,England
7,John,"A man in his 60s, John is a retired professor ...",Play,England
8,Maria,"A middle-aged Latina woman in her 40s, Maria i...",Movie,Texas
9,Caleb,"A young African American man in his early 20s,...",Movie,Texas
10,Tyler,"A white man in his mid-30s, Tyler is a tough-a...",Movie,Texas
11,Sonya,"A white woman in her late 20s, Sonya is a free...",Movie,Texas
12,Manuel,"A middle-aged Hispanic man in his 50s, Manuel ...",Movie,Texas
13,Will,"A white man in his early 40s, Will is a succes...",Movie,Texas
14,Mia,"A young Australian woman in her mid-20s, Mia i...",Limited Series,Australia
15,Lucas,"A middle-aged Australian man in his 40s, Lucas...",Limited Series,Australia
16,Tahlia,A young Indigenous Australian woman in her ear...,Limited Series,Australia
17,Max,"A white Australian man in his late 20s, Max is...",Limited Series,Australia
18,Ava,"A middle-aged Australian woman in her 50s, Ava...",Limited Series,Australia
19,Donna,A seasoned performer with a larger-than-life p...,Musical,USA
20,Johnny,"A young up-and-coming performer, Johnny is ful...",Musical,USA

In [29]:
df.count()

Name       55
text       55
Medium     55
Setting    55
dtype: int64

## Custom Query Completion

TODO: In the cells below, compose a custom query using your chosen dataset and retrieve results from an OpenAI `Completion` model. You may copy and paste any useful code from the course materials.

In [69]:
from openai import OpenAI
import json
import os
from dotenv import load_dotenv

load_dotenv("dev.env")

False

## Custom Performance Demonstration

TODO: In the cells below, demonstrate the performance of your custom query using at least 2 questions. For each question, show the answer from a basic `Completion` model query as well as the answer from your custom query.

### Question 1

### Question 2